[user]
  name = William Casarin
  email = jb55@jb55.com
  signingkey = 0x415AF4A3
[color]
  diff = auto
  status = auto
[core]
  excludesfile = /Users/jb55/.gitignore_global
	editor = vim
[url "git@github.com:"]
  insteadOf = gh:
[url "http://git.zero.jb55.com/"]
  insteadOf = jb:
[url "jb55.com:git/"]
  insteadOf = dev:
[url "ssh://git@phabricator.monstercat.com/diffusion/"]
  insteadOf = phab:
[url "http://git.zero.monster.cat/"]
  insteadOf = mcat:
[url "http://git.zero.jb55.com/"]
  insteadOf = zero:
[url "http://git.razor.jb55.com/"]
  insteadOf = razor:
[gui]
  recentrepo = /Users/jb55/src/js/titania
[alias]
  refl = reflog --date=relative
  br = symbolic-ref --short HEAD
  ff = merge --ff-only
  try = merge --no-commit --no-ff
  pff = pull --ff-only
  default = !git config branch.master.remote origin && git config branch.master.merge refs/heads/master
  lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  lg2 = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  lg3 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
  lg = !"git lg1"
  serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
  cloner = clone --recursive
  st = status -sb
  co = checkout
[push]
	default = simple
[rebase]
	autosquash = true
[rerere]
	enabled = true
	autoupdate = true
[http "https://git.monstercat.com"]
	sslCAInfo = /home/jb55/.flynn/ca-certs/default.pem
[credential "https://git.monstercat.com"]
	helper = /home/jb55/bin/flynn git-credentials
[gpg]
	program = gpg2
