[submodule "clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/roy"]
	path = .vim/bundle/roy
	url = gh:jb55/Vim-Roy.git
[submodule ".vim/bundle/snippets"]
	path = .vim/bundle/snippets
	url = https://github.com/jb55/snipmate-snippets.git
[submodule ".vim/bundle/ghcmod"]
	path = .vim/bundle/ghcmod
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = git://github.com/jb55/vimproc.git
[submodule ".vim/bundle/hdevtools"]
	path = .vim/bundle/hdevtools
	url = git://github.com/bitc/vim-hdevtools.git
[submodule ".vim/bundle/indent-guides"]
	path = .vim/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/ag"]
	path = .vim/bundle/ag
	url = git://github.com/epmatsw/ag.vim.git
