[user]
  name = William Casarin
  email = jb55@jb55.com
  signingkey = 0x5B2B1E4F62216BC74362AC61D4FBA2FC4535A2A9
[color]
  diff = auto
  status = auto
[core]
  excludesfile = /Users/jb55/.gitignore_global
	editor = vim
[sendemail]
  smtpServer=/run/current-system/sw/bin/sendmail
[url "git@github.com:"]
  insteadOf = gh:
[url "git@gitlab.com:"]
  insteadOf = gitlab:
[url "jb55.com:git/"]
  insteadOf = dev:
[url "ssh://git@phabricator.monstercat.com/diffusion/"]
  insteadOf = phab:
[url "http://git.monster.cat/"]
  insteadOf = mcat:
[url "http://git.zero.jb55.com/"]
  insteadOf = zero:
[url "http://git.razorcx.com/"]
  insteadOf = razor:
[gui]
  recentrepo = /Users/jb55/src/js/titania
[alias]
  prs = log --no-merges --date=local --author-date-order --glob='pull/origin/*'
  prs-merged = log --merges --date=local --author-date-order --glob='pull/origin/*'
  refl = reflog --date=relative
  br = symbolic-ref --short HEAD
  bvr = branch -vr --sort=-committerdate
  ff = merge --ff-only
  try = merge --no-commit --no-ff
  puff = pull --ff-only
  lgrep = log --grep
  default = !git config branch.master.remote origin && git config branch.master.merge refs/heads/master
  lg1 = log --graph --branches --tags --remotes --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  lg2 = log --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  lg3 = log --pretty=format:'%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(10,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D'
  lg = !"git lg1"
  stat2 = log --stat --pretty=format:'%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%cr %C(auto,green)%aN %C(auto,red)%D %n%n   %C(auto,reset)%s%n'
  serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
  cloner = clone --recursive
  tagd = !"git tag --format='%(creatordate:short)%09%(refname:strip=2)' | sort"
  hash = !"git rev-parse HEAD | tr -d '\n' | xclip"
  st = status -sb
  co = checkout
[rebase]
  autosquash = true
[push]
	default = simple
[rerere]
	enabled = false
	autoupdate = false
[http "https://git.monstercat.com"]
	sslCAInfo = /home/jb55/.flynn/ca-certs/default.pem
[credential "https://git.monstercat.com"]
	helper = /home/jb55/bin/flynn git-credentials
[gpg]
	program = gpg
[magit]
	hideCampaign = true
[github]
	user = jb55
[pull]
	rebase = true
