[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/roy"]
	path = .vim/bundle/roy
	url = gh:jb55/Vim-Roy.git
[submodule ".vim/bundle/snippets"]
	path = .vim/bundle/snippets
	url = https://github.com/jb55/snipmate-snippets.git
[submodule ".vim/bundle/ghcmod"]
	path = .vim/bundle/ghcmod
	url = https://github.com/eagletmt/ghcmod-vim.git
