!TomorrowNightEighties
!#define t_background        #2d2d2d
!#define t_current_line      #393939
!#define t_selection       #515151
!#define t_foreground        #cccccc
!#define t_comment       #999999
!#define t_red         #f2777a
!#define t_orange        #f99157
!#define t_yellow          #ffcc66
!#define t_green           #99cc99
!#define t_aqua            #66cccc
!#define t_blue            #6699cc
!#define t_purple          #cc99cc
!
!
!*.foreground:   t_foreground
!*.background:   t_background
!*.cursorColor:  #aeafad
!
!! Black / Grey
!*.color0:       #000000
!*.color8:       #666666
!
!! Red / Bright Red
!*.color1:       t_red
!*.color9:       #FF3334
!
!! Green + Bright Green
!*.color2:       t_green
!*.color10:      #9ec400
!
!! Yellow (Orange) + Bright Yellow (Yellow)
!*.color3:       t_orange
!*.color11:      t_yellow
!
!! Blue + Bright Blue
!*.color4:       t_blue
!*.color12:      t_blue
!
!! Magenta (Purple) + Bright Magenta
!*.color5:       t_purple
!*.color13:      #b777e0
!
!! Cyan (Aqua) + Bright Cyan
!*.color6:       t_aqua
!*.color14:      #54ced6
!
!! Light Grey (Selection) + White (Current Line)
!*.color7:       t_selection
!*.color15:      t_current_line


!



! ~/.Xresources
!

!
! invisibone by baskerville
!
! vim: set ft=xdefaults:

URxvt.background: #232323
URxvt.foreground: #A0A0A0

URxvt.colorBD:    #CFCFCF
URxvt.colorUL:    #A0A0A0
URxvt.colorIT:    #686868

!BLK
URxvt.color0:     #303030
URxvt.color8:     #686868

!RED
URxvt.color9:     #FFA7DA
URxvt.color1:     #D370A3

!GRN
URxvt.color10:    #A3D572
URxvt.color2:     #6D9E3F

!BLU
URxvt.color12:    #98CBFE
URxvt.color4:     #6095C5

!YEL
URxvt.color11:    #EFBD8B
URxvt.color3:     #B58858

!CYN
URxvt.color14:    #75DAA9
URxvt.color6:     #3BA275

!MAG
URxvt.color13:    #E5B0FF
URxvt.color5:     #AC7BDE

!WHT
URxvt.color7:     #CFCFCF
URxvt.color15:    #FFFFFF

! special
!*foreground:   #87929d
!*background:   #101820
!*cursorColor:  #3d7070

! black
!*color0:       #303840
!*color8:       #606870

! red
!*color1:       #701625
!*color9:       #a33749

! green
!*color2:       #457030
!*color10:      #73a35b

! yellow
!*color3:       #89531e
!*color11:      #bc7f42

! blue
!*color4:       #305070
!*color12:      #5b7fa3

! magenta
!*color5:       #704970
!*color13:      #a37fa3

! cyan
!*color6:       #3d7070
!*color14:      #6da3a3

! white
!*color7:       #a0a8b0
!*color15:      #d0d8e0

! urxvt
!URxvt*boldFont: -*-profont-*-*-*-*-12-*-*-*-*-*-*-*
URxvt*font: xft:DejaVu Sans Mono:size=10
!xterm*faceName: Terminus:style=Regular:size=10
URxvt*internalBorder: 22
URxvt*matcher.button: 1
URxvt*perl-ext-common: default,matcher,clipboard
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt*scrollBar: false
URxvt.iso14755: false
URxvt*boldMode: false
URxvt*cursorBlink: true
URxvt*termName: rxvt

! XTerm
XTerm*boldFont: fixed
URxvt*url-launcher: chromium-browser

