! vim: foldmethod=marker:

!#include ".Xresources.d/themes/solarized"
#include ".Xresources.d/themes/baskerville"
!#include ".Xresources.d/themes/tomorrow-night"

! urxvt
!URxvt*boldFont: -*-profont-*-*-*-*-12-*-*-*-*-*-*-*
URxvt*font: xft:DejaVu Sans Mono:size=10
!xterm*faceName: Terminus:style=Regular:size=10
URxvt*internalBorder: 22
URxvt*matcher.button: 1
URxvt*perl-ext-common: default,matcher,clipboard
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt*scrollBar: false
URxvt.iso14755: false
URxvt*boldMode: false
URxvt*cursorBlink: true
URxvt*termName: rxvt

! XTerm
XTerm*boldFont: fixed
URxvt*url-launcher: chromium-browser

