! vim: foldmethod=marker:

!#include ".Xresources.d/themes/solarized"
!#include ".Xresources.d/themes/baskerville"
!#include ".Xresources.d/themes/sexy"
!#include ".Xresources.d/themes/mocha"
!#include ".Xresources.d/themes/tomorrow.light"
!#include ".Xresources.d/themes/tomorrow.dark"
!#include ".Xresources.d/themes/ashes.light"
!#include ".Xresources.d/themes/polygon"
!#include ".Xresources.d/themes/shore"
#include ".Xresources.d/themes/tomorrow-night"

#URxvt.perl-ext-common: color-themes

! urxvt
!URxvt*boldFont: -*-profont-*-*-*-*-12-*-*-*-*-*-*-*
!URxvt*font: xft:Source Code Pro:size=10:antialias=true;hinting=true,\
!            xft:Kochi Gothic:antialias=true,hinting=true
URxvt*font: xft:Monospace:size=11:antialias=false;hinting=true
/* URxvt*font: xft:Noto Serif:size=10:antialias=true;hinting=true */
!xterm*faceName: Terminus:style=Regular:size=10
URxvt*internalBorder: 22
URxvt*matcher.button: 1
URxvt*perl-ext-common: default,matcher,clipboard

URxvt.color-themes.autosave: 1
URxvt.color-themes.state-file: ~/.urxvt-theme
URxvt.color-themes.themedir:  ~/dotfiles/.Xresources.d/themes
URxvt.keysym.Shift-Control-L:  perl:color-themes:load-state
URxvt.keysym.Shift-Control-S:  perl:color-themes:save-state
URxvt.keysym.Shift-Control-N:  perl:color-themes:next
URxvt.keysym.Shift-Control-P:  perl:color-themes:prev
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

URxvt*scrollBar: false
URxvt.iso14755: false
URxvt*boldMode: false
URxvt*cursorBlink: true
URxvt*termName: rxvt
URxvt*urgentOnBell: true

Xft.antialias:  1
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.llter:  lcddefault
Xft.rgba:       rgbc

URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true

!Emacs.font: Monospace-10

! XTerm
XTerm*boldFont: fixed
URxvt*url-launcher: chromium

