# Global snippets

# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`

snippet cmake
	CMAKE_MINIMUM_REQUIRED(VERSION 2.6)
	PROJECT(${1:ProjectName})

	FIND_PACKAGE(${2:LIBRARY})

	INCLUDE_DIRECTORIES(
		${$2_INCLUDE_DIR}
	)

	ADD_SUBDIRECTORY(${3:src})

	?DD_EXECUTABLE($1
	)

	TARGET_LINK_LIBRARIES($1
		${$2_LIBRARIES}
	)

